{{ define "header" }}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="The creation and effects of Stuxnet and Flame.">
    <meta name="author" content="Jennfer Garner">
    <link rel="icon" href="favicon.ico">

    <title>Stuxnet and Flame</title>

    <!-- Bootstrap core CSS -->
    <link href="/public/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/public/css/blog.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="blog-masthead">
      <div class="container">
        <nav class="blog-nav">
          <a class="blog-nav-item active" href="#">Creation and Goals</a>
          <a class="blog-nav-item" href="#">Effect on Cyberwarfare</a>
          <a class="blog-nav-item" href="#">Current</a>
          <a class="blog-nav-item" href="#">Future</a>
        </nav>
      </div>
    </div>
{{ end }}

{{ define "footer" }}
    <footer class="blog-footer">
      <p>Stuxnet and Flame term paper for Honors 102: Global Challenges. Created by Jennifer Garner. <a href="http://github.com/jennifergarner/Stuxnet-and-Flame">Github</a></p>
      <p>
        <a href="#">Back to top</a>
      </p>
    </footer>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="/public/js/bootstrap.min.js"></script>
  </body>
</html>
{{ end }}