{{ define "header" }}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="The creation and effects of Stuxnet and Flame.">
    <meta name="author" content="Jennfer Garner">
    <link rel="icon" href="favicon.ico">

    <title>Stuxnet and Flame</title>

    <!-- Bootstrap core CSS -->
    <link href="/public/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/public/css/blog.css" rel="stylesheet">

  </head>

  <body>

    <div class="blog-masthead">
      <div class="container">
        <nav class="blog-nav">
          <a class="blog-nav-item" id="index" href="/">Creation and Goals</a>
          <a class="blog-nav-item" id="effect" href="/effect">Effect</a>
          <a class="blog-nav-item" id="current" href="/current">Current</a>
          <a class="blog-nav-item" id="future" href="/future">Future</a>
          <a class="blog-nav-item" id="references" href="/references">References</a>
        </nav>
      </div>
    </div>
    
    <div class="container">

      <div class="blog-header">
        <h1 class="blog-title">Stuxnet and Flame</h1>
        <p class="lead blog-description">Jennifer Garner</p>
      </div>
{{ end }}

{{ define "footer" }}
    <footer class="blog-footer">
      <p>Stuxnet and Flame term paper for Honors 102: Global Challenges. Created by Jennifer Garner. <a href="https://github.com/jennifergarner/Stuxnet-and-Flame">Github</a></p>
      <p>
        <a href="#">Back to top</a>
      </p>
    </footer>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="/public/js/bootstrap.min.js"></script>
  </body>
</html>
{{ end }}

{{ define "sidebar" }}
  <!-- Sidebar -->
  <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
    <div class="sidebar-module sidebar-module-inset">
      <h4>Sources</h4>
      <ol class="list-unstyled">
        <li><a href="http://www.pbs.org/wgbh/nova/next/military/snowden-transcript/" target="_blank">Bamford et al., 2015</a></li>
        <li><a href="http://spectrum.ieee.org/telecom/security/the-real-story-of-stuxnet" target="_blank">Kushner, 2013</a></li>
        <li><a href="http://www.wsj.com/articles/cyberwar-ignites-a-new-arms-race-1444611128" target="_blank">Paletta et al., 2015</a></li>
        <li><a href="http://www.nytimes.com/2012/06/01/world/middleeast/obama-ordered-wave-of-cyberattacks-against-iran.html" target="_blank">Sanger, 2012</a></li>
      </ol>
    </div>
  </div>
{{ end }}